%nav.navbar.px-3.bg-primary.bg-gradient
  %a.navbar-brand.text-light.fs-2.fw-semibold{ href: "#" } Fl🌼wershop
  %button.btn.btn-outline-light{ type: "button", "data-bs-toggle": "modal", "data-bs-target": "#create-order-modal"}
    %i.fa-plus
    Add order
