%nav.navbar.p-3.bg-primary.bg-gradient
  %a.navbar-brand.text-light{ href: "#" } Fl🌼wershop
  %button.btn.btn-outline-light{ type: "button", "data-bs-toggle": "modal", "data-bs-target": "#create-order-modal"}
    %i.fa-plus
    Add order
